/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@600&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-width: 26.75rem;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.secundaria{
    color: #ffcc00;
}

/* titulo */
.titulo{
    margin-top: 0rem;
    font-size: 2.5rem;
}
/* Estrutura principal */
.temtudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
    max-width: 50rem;
    padding: 1.25rem;
    max-height: 99vh;
}

/* Container */
.container {
    width: 100%;
    padding: 1.25rem;
    background-color: #f8f8f8;
    border: .125rem solid #000000;
    border-radius: .75rem;
    box-shadow: 0 .375rem .75rem rgba(0, 0, 0, 0.15);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
    box-shadow: 0 .25rem .5rem var(--shadow-color);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Input e botão */
input#input {
    width: calc(100% - 6.25rem);
    padding: .625rem;
    border: .125rem solid #000000;
    border-radius: .5rem;
    font-size: 1rem;
    margin-right: .625rem;
    outline: none;
    transition: border-color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

input#input:focus {
    border-color: #ffcc00;
}

button#click:hover {
    background-color: #ffe066;
    transform: scale(1.05);
}

.linha{
    display: flex;
    align-items: end;
    gap: .9375rem;
}

button {
    padding: .625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    background-image: linear-gradient(45deg, var(--progress-bg), var(--highlight-color));

    background-image: linear-gradient(45deg, var(--button-bg), var(--highlight-color));
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
}


/* Lista de tarefas */
.secundaria {
    width: 100%;
}

.principal {
    margin-top: 1.25rem;
    padding-top: .625rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    max-height: 35vh;
    
    overflow-x: hidden;
    overflow-y: scroll;
}
.principal::-webkit-scrollbar{
    width: 0;
}

.secundaria {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: right;
    color: var(--text-color);
}

/* Tarefa */
.obj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .625rem;
    background-color: #ffffff;
    border: .125rem solid #000000;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
    box-shadow: 0 .25rem .5rem var(--shadow-color);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.obj.concluido {
    p{
        text-decoration: line-through;
    }
    opacity: 0.5;
    color: var(--text-color);
}

.obj input[type="checkbox"]:checked + p {
    text-decoration: line-through;
    opacity: 0.5;
}

.obj:hover {
    transform: translateY(-0.125rem);
}
.obj .editaExclui{
    font-size: 1.5em;
    i{
        cursor: pointer;
    }
    i:last-child{
        color: red;
    }
}
.obj p {
    flex-grow: 1;
    margin: 0;
    padding: 0 .625rem;
    font-size: 1rem;
    color: #000000;
    max-width: 80%;
    overflow-wrap: break-word;
    cursor: pointer;
     color: var(--text-color);
}
.obj p[contentEditable='true']{
    cursor: unset;
}
.obj input[type="checkbox"] {
    margin-right: .625rem;
    cursor: pointer;
}

.obj button {
    padding: .3125rem .625rem;
    font-size: .875rem;
    background-color: #ffcc00;
    border: .0625rem solid #000000;
    border-radius: .375rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.obj button:hover {
    background-color: #ffe066;
    transform: scale(1.05);
    
}

/* Lista de estudantes */
.studentsList {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 37.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: .125rem solid var(--border-color);
    border-radius: 1.25rem;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    padding: 3.125rem;
    z-index: 1000;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.studentsList.active {
    display: flex;
}


.studentsList h1, .studentsList a {
    color: var(--text-color); 
}

.studentsList h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.studentsList a {
    color: var(--progress-bg);
    text-decoration: none;
    font-size: 1.25rem;
}

.studentsList a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.studentsList .ti-x {
    position: absolute;
    top: .625rem;
    right: .625rem;
    cursor: pointer;
    font-size: 40px;
    color: var(--text-color);
}



/* Anúncios */
.ads div {
    display: none;
    position: fixed;
    left: 1.25rem;
    bottom: 1.25rem;
    transform: translateY(0);
    width: 18.75rem;
    padding: 1.875rem;
    background-color: var(--bg-color);
    border: .1875rem solid var(--border-color);
    border-radius: .75rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem var(--shadow-color);
    background: linear-gradient(120deg, #f8f8f8, #e9ecef);
    transition: background-color 1s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.ads div.active {
    display: block;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(1.875rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes pulsar{
    0%{
        transform: scale(1);
        filter: brightness(.875);
    }
    100%{
        transform: scale(1.2);
        filter: brightness(1);
    }
}


.ads div i {
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    cursor: pointer;
    font-size: 24px;
    color: #000000; /* Cor fixa para o ícone 'X' */
    transition: color 0.3s ease, transform 0.3s ease;
}

.ads div i:hover {
    color: #ff0800;
    transform: rotate(90deg);
}

.ads div a {
    font-size: 1.875rem;
    color: #ff0800;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 1.25rem;
    animation: pulsar .6s infinite alternate ease-in-out;
}

.ads div a:hover {
    text-decoration: underline;
    opacity: 0.8;
}


/* Estilos */
body {
    transition: background-color 0.1s ease, color 0.5s ease;
}

/* Sombras e gradientes */
.container, .obj, .studentsList, .ads div {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
}
.container:hover, .obj:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--bg-color);

}
 

/* Modo Claro */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --button-bg: #ffffff;
    --progress-bg: #616161;
    --button-text: #000000;
    --button-hover: #ffe066;
    --border-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

/* Modo Escuro */
body.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --button-bg: #121212;
    --progress-bg: #616161;
    --button-text: #ffffff;
    --button-hover: #121212;
    --border-color: #333333;
    --shadow-color: rgba(0, 0, 0, 0.3);
    
}
/* Aplicação de Variáveis */
body {
    color: var(--text-color);
}

/* Botão */
.theme-toggle {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
}

button#toggleDarkMode {
    padding: .625rem 1.25rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: .125rem solid var(--text-color);
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button#toggleDarkMode:hover {
    background-color: var(--button-hover);
    transform: scale(1.1);
}

/* Barra de tarefas */
.progress-container {
    width: 100%;
    height: .75rem;
    background-color: #d9d9d9;
    border-radius: .3125rem;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #d9d9d9;
    transition: width 0.3s ease;
    background-color: var(--progress-bg)
}
@media (max-width: 48rem){
    .obj p{
        max-width: 55%;
    }
    .principal{
        max-height: 35vh;
    }
    h1{
        font-size: 48px;
    }
}